@color-success: #5cb85c;
@color-danger: #d9534f;

b.muted {
  color: #888;
}

.external-link-icon {
  font-size: 8px;
}

.table-icon{
  font-size: 10px;
}

i {
  font-size: 10px;
}

td.positives {
  width: 60px;
}

.header-icon {
  font-size: 10px;
}
